= form_for @project_material, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :project_id, :class => 'control-label'
    .controls
      = f.number_field :project_id, :class => 'number_field'
  .control-group
    = f.label :material_id, :class => 'control-label'
    .controls
      = f.number_field :material_id, :class => 'number_field'
  .control-group
    = f.label :quantity, :class => 'control-label'
    .controls
      = f.number_field :quantity, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), project_materials_path, :class => 'btn'
