- model_class = ProjectMaterial
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:project_id) + ':'
  %br
  = @project_material.project_id
%p
  %strong= model_class.human_attribute_name(:material_id) + ':'
  %br
  = @project_material.material_id
%p
  %strong= model_class.human_attribute_name(:quantity) + ':'
  %br
  = @project_material.quantity

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), project_materials_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_material_path(@project_material), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), project_material_path(@project_material), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
