- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:hours_estimate)
      %th= model_class.human_attribute_name(:helpers_needed)
      %th= model_class.human_attribute_name(:liveaboard_priority)
      %th= model_class.human_attribute_name(:daysail_priority)
      %th= model_class.human_attribute_name(:cruising_priority)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project_path(project)
        %td= project.description
        %td= project.hours_estimate
        %td= project.helpers_needed
        %td= project.liveaboard_priority
        %td= project.daysail_priority
        %td= project.cruising_priority
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(project), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_project_path, :class => 'btn btn-primary'
