- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-hover
  %thead
    %tr
      %th= sortable model_class, :name
      %th= sortable model_class, :description
      %th= sortable model_class, :cost
      %th= sortable model_class, :hours_estimate
      %th= sortable model_class, :helpers_needed
      %th= sortable model_class, :liveaboard_priority
      %th= sortable model_class, :daysail_priority
      %th= sortable model_class, :cruising_priority
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, edit_project_path(project)
        %td= project.description
        %td= number_to_currency(project.cost)
        %td= project.hours_estimate
        %td= project.helpers_needed
        %td= project.liveaboard_priority
        %td= project.daysail_priority
        %td= project.cruising_priority

= link_to t('.new', :default => t("helpers.links.new")), new_project_path, :class => 'btn btn-primary'
