= nested_form_for @task do |task_fields|
  %div
    .span6
      .control-group
        = task_fields.label :name, :class => 'control-label'
        .controls
          = task_fields.text_field :name, :class => 'text_field span12'
      .control-group
        = task_fields.label :description, :class => 'control-label'
        .controls
          = task_fields.text_area :description, :rows => 3, :class => 'text_field span12'
    .span6
      .control-group
        = task_fields.label :notes, :class => 'control-label'
        .controls
          = task_fields.text_area :notes, :rows => 4, :class => 'text_field span12'
      .row-fluid
        .span2
          = task_fields.label :completed, :class => 'control-label'
        .span1
          = task_fields.check_box :completed, :class => 'check_box'
        .span2
          = task_fields.label :obsolete, :class => 'control-label'
        .span1
          = task_fields.check_box :obsolete, :class => 'check_box'
    .span4
  %div
    .table-row
      .span9= "Material"
      .span1= "Quantity"
      .span1= "Cost"
      .span1= "Actions"
    .table-row
      = task_fields.fields_for :task_materials do |task_material_fields|
        -task_material = task_material_fields.object
        -material_id = task_material.material_id
        -next if task_material.blank? or task_material.material_id.blank?
        .span9
          .span11
            =task_material_fields.select :material_id, materials_for_select(material_id), :prompt => 'Select Material', :class => "select"
          .span1
            =link_to edit_material_path(material_id) do
              %i{:class=>"icon-hand-right"}
        .span1= task_material_fields.text_field :quantity, :class => "input-mini"
        .span1= number_to_currency(task_material.cost)
        .span1= task_material_fields.link_to_remove "Remove"
  = task_fields.link_to_add "Add a Material", :task_materials
  .form-actions
    = task_fields.submit nil, :class => 'btn btn-primary'
    = link_to_function "Cancel", "ti.toggleEdit(#{@task.id})", :class => 'btn'
    = link_to t('.new', :default => t("helpers.links.new")), new_task_path, :class => 'btn btn-primary'
