= nested_form_for @task, :remote => true, "data-task-form" => @task.id do |task_fields|
  .row.hidden{"data-errors" => true}
  .row
    .col-xs-6
      = task_fields.text_field :name, :class => 'text_field', :placeholder => "Name"
      %br
      = task_fields.text_area :description, :rows => 3, :class => 'text_field', :placeholder => "Description"
    .col-xs-6
      = task_fields.text_area :notes, :rows => 4, :class => 'text_field span12', :placeholder => "Notes"
      .row
        .col-xs-2
          = task_fields.label :completed, :class => 'control-label'
        .col-xs-1
          = task_fields.check_box :completed, :class => 'check_box'
        .col-xs-2
          = task_fields.label :obsolete, :class => 'control-label'
        .col-xs-1
          = task_fields.check_box :obsolete, :class => 'check_box'
    .col-xs-4
  %div
    .row
      .col-xs-8
        %h5= "Material"
      .col-xs-1
        %h5= "Quantity"
      .col-xs-1
        %h5= "Cost"
      .col-xs-1
    .row
      = task_fields.fields_for :task_materials do |task_material_fields|
        -task_material = task_material_fields.object
        -material = task_material.material
        -next unless material.present?
        .col-xs-8
          .row
            .col-xs-11
              =materials_picker(task_material_fields, material)
            .col-xs-1
              =link_to edit_material_path(material) do
                %span.glyphicon.glyphicon-hand-right
        .col-xs-1= task_material_fields.text_field :quantity, :class => "quantity-field"
        .col-xs-1
          .quantity-field= number_to_currency(task_material.cost)
        .col-xs-1= task_material_fields.link_to_remove "Remove"
  .row
    .col-xs-2
      =task_fields.link_to_add "Add a Material", :task_materials
  %br
  .row
    .col-xs-11
      .form-actions.pull-right
        = task_fields.submit nil, :class => 'btn btn-success'
  %br
  %br