- model_class = Task
.page-header
  %h1 Tasks
  = link_to "New Task", new_task_path, :class => 'btn btn-primary'
="Total Cost: #{number_to_currency @unsorted_tasks.cost}"
.container-fluid
  .row
    .col-xs-4
      = sortable model_class, :name
    .col-xs-4
      = sortable model_class, :cost
    .col-xs-4
      = sortable model_class, :hours_estimate

  - @tasks.each do |task|
    .row
      =form_for task, :remote => true, :id => "form_#{task.id}" do |task_fields|
        .col-xs-4
          %b= link_to task.name, "#", "data-task-edit-toggle" => task.id
        .col-xs-4
          = number_to_currency task.cost
        .col-xs-4
          =task_fields.number_field :hours_estimate, { :class => "hours_field" }
    .row{"data-task-edit-area" => task.id}

= link_to "New Task", new_task_path, :class => 'btn btn-primary'