- model_class = Task
.container{:width => "60%"}
  .row
    .col-xs-4
      %h1 Tasks
    .col-xs-4
      %h3="Total Cost: #{number_to_currency @tasks.sum(&:cost)}"
    .col-xs-4
      .pull-right= link_to "New Task", new_task_path, :class => 'btn btn-primary'

  .row
    .col-xs-4
      %h2= sortable model_class, :name
    .col-xs-4
      %h2= sortable model_class, :cost
    .col-xs-4
      %h2= sortable model_class, :hours_estimate

  - @tasks.each do |task|
    .row.task-row.item_row{"data-task-edit-toggle" => task.id, :class => cycle("even", "odd")}
      .col-xs-4
        %h4= task.name
      .col-xs-4.align-right
        %h4= number_to_currency task.cost
      .col-xs-4
        %h4= task.hours_estimate
    .row{"data-task-edit-area" => task.id}

= link_to "New Task", new_task_path, :class => 'btn btn-primary'