= form_for @material, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.text_field :category, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'
  .control-group
    = f.label :dimensions, :class => 'control-label'
    .controls
      = f.text_field :dimensions, :class => 'text_field'
  .control-group
    = f.label :material, :class => 'control-label'
    .controls
      = f.text_field :material, :class => 'text_field'
  .control-group
    = f.label :units, :class => 'control-label'
    .controls
      = f.text_field :units, :class => 'text_field'
  .control-group
    = f.label :inventory, :class => 'control-label'
    .controls
      = f.number_field :inventory, :class => 'number_field'
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.number_field :price, :class => 'number_field'
  .control-group
    = f.label :minimum_purchase, :class => 'control-label'
    .controls
      = f.number_field :minimum_purchase, :class => 'number_field'
  .control-group
    = f.label :shipping_price, :class => 'control-label'
    .controls
      = f.number_field :shipping_price, :class => 'number_field'
  .control-group
    = f.label :location, :class => 'control-label'
    .controls
      = f.text_field :location, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), materials_path, :class => 'btn'
