- model_class = Material
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= sortable model_class, :category
      %th= sortable model_class, :description
      %th= sortable model_class, :dimensions
      %th= sortable model_class, :material
      %th= sortable model_class, :total_price
      %th= sortable model_class, :units
      %th= sortable model_class, :inventory
  %tbody
    - @materials.each do |material|
      %tr
        %td= link_to material.category, edit_material_path(material)
        %td= material.description
        %td= material.dimensions
        %td= material.material
        %td= number_to_currency(material.price + material.shipping_price)
        %td= material.units
        %td= number_with_precision material.inventory, :strip_insignificant_zeros => true

= link_to t('.new', :default => t("helpers.links.new")), new_material_path, :class => 'btn btn-primary'
