- model_class = Material
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:category)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:dimensions)
      %th= model_class.human_attribute_name(:material)
      %th= model_class.human_attribute_name(:units)
      %th= model_class.human_attribute_name(:inventory)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @materials.each do |material|
      %tr
        %td= link_to material.category, material_path(material)
        %td= material.description
        %td= material.dimensions
        %td= material.material
        %td= material.units
        %td= material.inventory
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_material_path(material), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_material_path, :class => 'btn btn-primary'
