- model_class = Material
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:category) + ':'
  %br
  = @material.category
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @material.description
%p
  %strong= model_class.human_attribute_name(:dimensions) + ':'
  %br
  = @material.dimensions
%p
  %strong= model_class.human_attribute_name(:material) + ':'
  %br
  = @material.material
%p
  %strong= model_class.human_attribute_name(:units) + ':'
  %br
  = @material.units
%p
  %strong= model_class.human_attribute_name(:inventory) + ':'
  %br
  = @material.inventory
%p
  %strong= model_class.human_attribute_name(:price) + ':'
  %br
  = @material.price
%p
  %strong= model_class.human_attribute_name(:minimum_purchase) + ':'
  %br
  = @material.minimum_purchase
%p
  %strong= model_class.human_attribute_name(:shipping_price) + ':'
  %br
  = @material.shipping_price
%p
  %strong= model_class.human_attribute_name(:location) + ':'
  %br
  = @material.location

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), materials_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_material_path(@material), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), material_path(@material), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
